html,body
{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
background-color:#333333;
color:#dddddd;
font-family: arial;

font-size: 18px;

}




b

{font-family: times;

font-size: 18px;

color:#ffffff;

}




i
{font-style: times;

font-size: 18px;

color:#cccccc;}




u
{font-style: times;

font-size: 18px;

spacing: 1.5px;

color: #ddccff;
}




a:link
{font-family: arial;

color:#ffffff;

margin-left:8px;
text-decoration: none;
}

a:visited{font-family: arial;

color:#ffffff;
margin-left:8px;
text-decoration: none;
}

a:hover{font-family: arial;

color:#cf5311;
margin-left:8px;
text-decoration: overline underline;
}
}

a:active{}


.title {
width:100%;
text-align:left;
height:10%;
position:fixed;
margin-top:0px;
margin-left:0px;
background-color:#000000;
padding-top:12px;
padding-left:20px;
font-style: arial;
font-size: 32px;
z-index:100;
}


h1{
font-size: 120px;
font-face: times;
color:#ffffff;
background-color:#000000;
width:100%
}

h2{
font-size:30px;
color:#cf5311;
background-color:#000000;
font-style:times;
padding:10px;
width:auto;
text-align:center:
margins:auto;
}

h3
{
background-color:#000000;
font-style:times;
padding:5px;
width:100%;
text-align:center:
margins:auto;
}

.general {
width:60%;
height:750px;
position:relative;
overflow:hidden;
padding-left:20%;
padding-right:20%;
}

.content {
color:#ffffff;
background-color:#555555;
padding-top:5px;
padding-left:10px;
padding-right:10px;
overflow:auto;
}

.fixed{
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:100%;
text-align:center;
padding:200px;
}

.fixed2{
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:100%;
}